.cart-main-cont {
  display: flex;
  width: 100%;
  background-color: rgb(240, 240, 240);
  flex-wrap: wrap; /* Allow wrapping of items */
}

.right-side {
  width: 50%;
}

.total-price {
  width: 50%;
  text-align: right;
  padding: 10px;
}

/* Card styling */
.card {
  margin: 5px;
  width: 100%; /* Ensure cards take full width */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #efefef;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .right-side {
    width: 100%; /* Full width on mobile */
  }
  .total-price {
    width: 100%; /* Full width on mobile */
    text-align: left; /* Align text left for mobile */
  }
}
